<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-28.527375 -28.527375 -28.527375 28.527375 28.527375 28.527375</parameters>
    </space>
  </source>
</settings>
